{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<div class="langs">
<form action="{% url 'django.views.i18n.set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="/" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
{% endfor %}
</select>
<input type="submit" value="{% trans "Go" %}" />
</form>
</div>
{% endblock %}
