{% load url from future %}
{% load i18n %}
{% load flatpages %}
{% load packages %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"><!--{{{-->
    <title>{% block title %}Gentoo Packages{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <style>
        .well {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .package-well {
            padding: 10px 10px 0px 10px;
        }

        .package-name {
            border-radius: 6px 6px 6px 6px;
            padding: 8px 10px 8px 10px;
            margin: 0px 0px 20px 0px;
            background-color: #CCC;
        }

        .nowrap {
            white-space: nowrap;
        }

    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--}}}-->
  </head>

  <body>
{% block body %}
    <div class="navbar navbar-fixed-top"><!--{{{-->
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Gentoo Packages</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% get_flatpages '/about/' as about_pages %}
              <li class="active"><a href="#">Home</a></li>
              {% for about in about_pages %}<li><a href="{{ about.url }}">{{ about.title }}</a></li>{% endfor %}
              <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav pull-right">
            <li class="dropdown" id="menu1">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                         Language 
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#">English</a></li>
                          <li><a href="#">Russian</a></li>
                          <li><a href="#">Ukranian</a></li>
                        </ul>
                      </li>
             <li>
              <form action="" class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="{% trans "Search" %}" />
              </form>
             </li>
            </ul>


          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div><!--}}}-->

    <div class="container">
    {% block container %}
                            <div class="row"> <!-- Page type --><!--{{{-->
                                                        <ul class="breadcrumb">
                                                        {% block page_name %}
                                                            <li class="active">{{ page_name }}</li>
                                                        {% endblock page_name %}
                                                      </ul>
                            </div> <!-- end page type --><!--}}}-->
        <div class="row">
        	<div class="span9" id="content">
            {% block content %}
Text
            {% endblock content %}
            </div> <!-- span9 -->

        	<div class="span3"><!--{{{-->
                    <div class="well">
                                                        <div id="rightcontent">
                                                        <div>
                                                            <span class="label label-info" style="display: block"> Last update</span> 
                                                            {% last_updated %}
                                                        </div><br/>
                                                      <div>
                                                          <span class="left-legend label label-info" style="display: block;">Legend</span>
                                                          <ul class="legend left-bar-list">
                                                              <li><span class="stable">+</span> - stable</li>
                                                              <li><span class="unstable">~</span> - unstable</li>
                                                              <li><span class="hardmask">M</span> - hardmask</li>
                                                          </ul>
                                                      </div>
                                            </div>
                    </div> <!-- /well -->
                        <div class="well">
                        <ul class="nav nav-list">
                            <li class="nav-header">Navigation</li>
                            <li {% if nav_name == 'categories' %}class="active"{% endif %}><a href="{% url 'categories' %}">Categories</a></li>
                            <li {% if nav_name == 'ebuilds' %}class="active"{% endif %}><a href="#">Ebuilds</a></li>
                            <li {% if nav_name == 'packages' %}class="active"{% endif %}><a href="#">Packages</a></li>
                            <li {% if nav_name == 'maintainers' %}class="active"{% endif %}><a href="{% url 'maintainers' %}">Maintainers</a></li>
                            <li {% if nav_name == 'herds' %}class="active"{% endif %}><a href="{% url 'herds' %}">Herds</a></li>
                            <li {% if nav_name == 'repositories' %}class="active"{% endif %}><a href="{% url 'repositories' %}">Repositories</a></li>
                            <li {% if nav_name == 'license_groups' %}class="active"{% endif %}><a href="{% url 'license_groups' %}">License Groups</a></li>
                        </ul>
                       </div>
            </div> <!-- span3 --><!--}}}-->

        <div class="row-fluid"><!--{{{-->
                <div class="span12">
                    <hr>
                                <footer class="footer">
                                <p class="pull-right">Copyright 2007-{% now "Y" %} Gentoo Foundation, Inc.</p>
                              </footer>
                </div>
        </div><!--}}}-->

    {% endblock container %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
{% endblock body %}
  </body>
</html>
