{% extends "base.html" %}
{% load url from future %}
{% load cache %}

{% block content %}
{% cache 3600 categories_table %}
<table class='table table-striped table-hover'>
    <colgroup>
        <col class="span1" >
        <col class="span8" >
    </colgroup>
    <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
            </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td class="nowrap"><a href="{% url 'packages' category=category.category %}">{{ category.category }}</a></td>
                <td>{{ category.description|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endcache %}

{% endblock content %}
