{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="filter">
<form action="./" method="post" enctype="multipart/form-data">{% csrf_token %}
   {{ form.as_ul }} <br />
    <input type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/chosen.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" charset="utf-8">
        $('select').chosen(); // :)
    </script>
{% endblock scripts %}
