{% load url from future %}
{% load static %}
{% get_static_prefix as STATIC_URL %}
<div class="modal hide fade" id="FilterModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Filter</h3>
    </div>
    <form action="{% url 'filter' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body filter">
            {{ form.as_ul }} 
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>
</div>
<link href="{{ STATIC_URL }}css/chosen.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script type="text/javascript" charset="utf-8">
    $('select').chosen(); // :)
</script>
