{% extends "base.html" %}
{% load url from future %}
{% load cache %}
{% load i18n %}
{% block content %}
{% cache 1800 global_use_table %}
<table class='table table-striped table-hover'>
    <colgroup>
        <col class="span1" >
        <col class="span9" >
    </colgroup>
    <thead>
            <tr>
                <th>{% trans 'Use flag' %}</th>
                <th>{% trans 'Description' %}</th>
            </tr>
    </thead>
    <tbody>
        {% for use in uses %}
            <tr>
                <td class="nowrap"><a href="{% url 'packages' use=use.name %}">{{ use.name }}</a></td>
                <td>{{ use.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endcache %}
{% endblock content %}
