{% extends "base.html" %}
{% load url from future %}
{% load cache %}

{% block content %}
{% cache 3600 license_groups %}
<table class='table table-striped table-hover'>
    <colgroup>
        <col class="span1" >
        <col class="span8" >
    </colgroup>
    <thead>
            <tr>
                <th>License group</th>
                <th>Licenses</th>
            </tr>
    </thead>
    <tbody>
        {% for license_group in license_groups %}
            <tr>
                <td class="nowrap"><a href="#">{{ license_group.name }}</a></td>
                <td>{% for license in license_group.licenses.all %}<a href="{% url 'packages' license=license.name %}">{{ license.name }}</a>{% if not forloop.last %},{% endif %} {% endfor %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endcache %}
{% endblock content %}
