{% extends "base.html" %}
{% load packages %}
{% load url from future %}

{% block content %}

<table class='table table-striped table-hover'>
    <colgroup>
        <col class="span3" >
        <col class="span3" >
    </colgroup>
    <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
    </thead>
    <tbody>
        {% for maintainer in maintainers %}
            <tr>
                <td class="nowrap"><a href="{% url 'packages' maintainer_pk=maintainer.pk %}">{{ maintainer.name|default:"Not represented" }}</a></td>
                <!-- email should be obfuscated -->
                <td class="nowrap"><a href="{{ 'mailto:'|add:maintainer.email|obfuscate }}">{{ maintainer.email|obfuscate }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'paginator.html' %}
{% endblock content %}
