{% load packages %}
{% load i18n %}
<div class="tabbable">
    <ul class="nav nav-tabs">
    {% if package %}
      <li{% if table_items.changelog %} class="active"{% endif %}><a href="changelog" tab-id="changelog">{% trans 'Changelog' %}</a></li>
    {% endif %}
      <li{% if table_items.use_flags %} class="active"{% endif %}><a href="use_flags" tab-id="use_flags">{% trans 'Use flags' %}</a></li>
      <li{% if table_items.licenses %} class="active"{% endif %}><a href="licenses" tab-id="licenses">{% trans 'Licenses' %}</a></li>
      <li{% if table_items.dependences %} class="active"{% endif %}><a href="dependences" tab-id="dependences">{% trans 'Dependences' %}</a></li>
    </ul>
    <div class="tab-content">
    {% if package %}
        <div class="tab-pane{% if table_items.changelog %} active{% endif %}" id="changelog">
            {{ package.highlighted_changelog }}
        </div>
    {% endif %}
        <div class="tab-pane{% if table_items.use_flags %} active{% endif %}" id="use_flags">
            {% use_flag_table ebuild %}
        </div>
        <div class="tab-pane{% if table_items.licenses %} active{% endif %}" id="licenses">
            {{ ebuild.license|license_urlize }}
        </div>
        <div class="tab-pane{% if table_items.dependences %} active{% endif %}" id="dependences">
            {% if ebuild.depend %}
                <h3>{% trans 'Depen' %}</h3>
                <pre>
                {{ ebuild.depend }}
                </pre>
            {% endif %}
            {% if ebuild.rdepend %}
                <h3>{% trans 'Runtime Depen' %}</h3>
                <pre>
                {{ ebuild.rdepend }}
                </pre>
            {% endif %}
            {% if ebuild.pdepend %}
                <h3>{% trans 'Post-Merge Depen' %}</h3>
                <pre>
                {{ ebuild.pdepend }}
                </pre>
            {% endif %}
        </div>
    </div>
</div>
