{% extends "base.html" %}

{% block content %}

<table class='table table-striped table-hover'>
    <colgroup>
        <col class="span2" >
        <col class="span7" >
    </colgroup>
    <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
            </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="#">{{ category.category }}</a></td>
                <td>{{ category.description|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
