{% extends "base.html" %}

{% block content %}

<table class='table table-striped table-hover'>
    <colgroup>
        <col class="span1" >
        <col class="span8" >
    </colgroup>
    <thead>
            <tr>
                <th>License group</th>
                <th>Licenses</th>
            </tr>
    </thead>
    <tbody>
        {% for license_group in license_groups %}
            <tr>
                <td class="nowrap"><a href="#">{{ license_group.name }}</a></td>
                <td>{% for license in license_group.licenses.all %}<a href="#">{{ license }}</a>, {% endfor %}</td>
                <td>{{ herd.description|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
