{% extends "base.html" %}

{% block content %}

<table class='table table-striped table-hover'>
    <colgroup>
        <col class="span1" >
        <col class="span8" >
        <col class="span2" >
    </colgroup>
    <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Last updated</th>
            </tr>
    </thead>
    <tbody>
        {% for repository in repositories %}
            <tr>
                <td class="nowrap"><a href="#">{{ repository.name }}</a></td>
                <td>{{ repository.description|default_if_none:"" }}</td>
                <td>{{ repository.updated_datetime|date:"d m Y H:i:s" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
